@model IEnumerable<Product>

<style>
    #grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
    }

        #grid > div {
            font-size: 2vw;
            padding: .4em;
            text-align: center;
        }
</style>

<body>
    @section scripts {

        <script type="text/javascript">
            function add(Id, Name) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "Catalog/Add/" + Id, true);
                xhr.send();
                xhr.onload = function () {
                    if (xhr.response) {
                        var $orderStatusLabel = document.getElementById("message_after_add");
                        $orderStatusLabel.textContent = "Товар " + Name + " успешно добавлен в корзину";
                    }
                };
            }
        </script>
    }
        <div>
            <h3>Каталог</h3>
            <h4><span class="alert-success" id="message_after_add"> </span></h4>
           
            <div id="grid">
                @foreach (var b in Model)
                {
                <div>
                    <p>@b.Name</p>
                    <p>@b.Price</p>
                    <button id="button_@(b.Id)" onclick="add(@(b.Id),'@b.Name')" class="btn btn-primary">В корзину</button>
                </div>
                }
                </div>
        </div>
</body>
