@model IEnumerable<Product>

<body>
    @section scripts {
    
        <script type="text/javascript">
            function add(Id, Name) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "Catalog/Add/" + Id, true);
                xhr.send();
                xhr.onload = function () {
                    if (xhr.response) {
                        var $orderStatusLabel = document.getElementById("message_after_add");
                        $orderStatusLabel.textContent = "Товар " + Name + " успешно добавлен в корзину";
                    }
                };
            }
        </script>
}
        <div>
            <h3>Каталог</h3>
            <h4><span id="message_after_add"> </span></h4>
            <table class="table table-hover">
                @foreach (var b in Model)
                {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Price</p></td>
                    <td><button id="button_@(b.Id)" onclick="add(@(b.Id),'@b.Name')" class="btn btn-primary">В корзину</button></td>
                </tr>
                }
            </table>
        </div>
</body>
