
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Корзина</title>
</head>
<body>
    <div>
        <h3>Корзина</h3>
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <td><p>Название</p></td>
                    <td><p>Цена</p></td>
                    <td><p>Количество</p></td>
                    <td><p>Итого</p></td>
                    <!--<td></td>-->
                </tr>
            </thead>
            <tbody>
                @foreach (var b in ViewBag.Bag.Items)
                {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p>@b.Count</p></td>
                    <td><p>@b.PriceTotal</p></td>
                    <!--<td><p><a href="/Home/Delete/@b.Id">Удалить</a></p></td>-->
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>